
.owl-carousels .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-left: 20px;
}
/*----------------------search box footer------------*/
.togglesearch{
  background: #E8E8E4;
  position: absolute;
  top: -116px;
  left: -155px;
  width: 786px;
  height: 83px;
  line-height: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-bottom: 4px solid #188504;
  display: none;
}

.togglesearch:before{
  content: "";
  position: absolute;
  bottom: -33px;
  left: 220px;
  border-left: 12px solid transparent;
  border-right: 12px solid #00000000;
  border-top: 14px solid #09ad39;
  border-bottom: 14px solid #078b1100;
}

.togglesearch input[type="text"]{
  width: 684px;
  padding: 5px 10px;
  margin-left: -5px;
  border: 1px solid #17993a;
  outline: none;
}

.togglesearch input[type="button"]{
  width: 104px;
  padding: 5px 0;
  background: #1f8d3d;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #918e8e;
  outline: none;
  cursor: pointer;
}

/*---------------------- And search box footer------------*/

.button-custome-plus-product{
     width: 100%;
    padding: 15px 0px 15px 0px;
}

.button-custome-plus-product .input-group.mb-3.catagre {
    position: relative;
    display: table;
    border-collapse: separate;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 72%;
    margin: 0px;
}
.button-custome-plus-product .input-group.catagre {
    width: 88px !important;
    float: left;
}
.button-custome-plus-product .btn.add {
   float: left;
    margin-top: 0px !important;
    margin-left: 136px;
}
.button-custome-plus-product  button.btn-dark {
    background: #3ab54a none repeat scroll 0 0;
    height: 40px !important;
    width: 40px !important;
}
/*-----------Rating star css-----------------------*/

.rating.custome{
	margin-top:0px;
}
.rating>input {
    display: none;
}

.rating>label {
    position: relative;
    width: 15px;
    font-size: 20px;
    color: #FFD600;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}






/*-----------And Rating star css-----------------------*/
.pb-15 {
    padding-bottom:15px;
}
.panel-heading h4 {
    color: #ffffff;
    background-color: #d9edf7;
    border-color: #bce8f1;
    background-image: linear-gradient( 
90deg
 , rgba(22, 89, 42, 0.88) 0%, rgb(8, 177, 53) 35%, rgb(14, 105, 123) 100%);
    margin: 0;
    padding: 15px;
    font-weight: 500;
    font-size: 17px;
}
.only_mobile-view{display:none;}
.buttons.custome{display:block;}
.container.mobileview-off{display:black;}
.buttons.custome .btn-default {
    color: #3ab54a !important;
    transition: color 0.3s ease 0s, border 0.3s ease 0s, background 0.3s ease 0s;
}

.buttons.custome .btn {
    padding: 9px 25px !important;
    font-size: 14px !important;
    color: #3ab54a !important;
    font-weight: 400 !important;
    border: 1px solid #3ab54a !important;
    display: inline-block !important;
    background: rgba(255, 255, 255, 0) !important;
}
.buttons.custome a:hover {
    border: 1px solid #3ab54a !important;
    color: #fff !important;
}
.buttons.custome .btn-primary {
    color: #ffffff !important;
    background: #3ab54a !important;
    border: 1px solid #3ab54a !important;
    transition: color 0.3s ease 0s, border 0.3s ease 0s, background 0.3s ease 0s;
}
 /*--------categore--------css--------*/
 .clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }
 /*--------categore--------and--------*/
 
 .pluse-minus{
	 width: 100%;
    clear: both;
	}
.pluse-minus  .input-group.mb-3.catagre {
    position: relative;
    display: table;
    border-collapse: separate;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 59%;
    margin: unset;
}
.pluse-minus .form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 0px 5px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dddddd;
    max-width: 37%;
    /* float: right; */
}
 .breadcrumb {
    padding: 70px 0 !important;
    margin: 0 0 90px !important;
   
}
.pluse-minus .input-group .btn {
    float: left;
    margin-left: 10px;
    padding: 5px 5px;
}
.media-body .price.product-price{text-align:left;}
.media-body .members {margin-bottom:10px;}

.caption .btn.add, .product-thumb .btn.add{
	margin-top:10px !important;
	}
.custab{ background-color:#fff;}
.table-striped.custab{
    background-color: #f8fdf9;
    width: 100%;
    margin: 40px 0px;
    box-shadow: 1px 1px 8px #999;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
	margin-bottom: 130px;}
	.table-striped.custab .text-center .label, .table-striped.custab .text-center .label .fa {font-size:12px;}
.table-striped.custab>tbody>tr:nth-child(odd)>td{background-color: #fff;}
.table.custab>tbody>tr>td{border:transparent;}

.button-custome-plus{
	  width: 100%;
       
}
.button-custome-plus .btn.add{float:right; margin-top: 0px !important;}
.button-custome-plus .input-group.catagre{ 
    width: 50px !important;
    float: left;
}

.btn.top.custome{
	background: #3ab54a;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease 0s, border 0.3s ease 0s, background 0.3s ease 0s;
    border-radius: 50%;
    padding: 0px;
	line-height: 14px;
    height: 20px;
    width: 20px;
}
/*tooltip css------------------*/
.toolTip{
    color: #240b36;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.toolTip:before,
.toolTip:after{
    content: '';
    background: linear-gradient(to right bottom,transparent 50%,#09908a 51%);
    height: 20px;
    width: 20px;
    opacity: 0;
    z-index: -100;
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s;
}

.toolTip:after{
    content: attr(data-tip);
    color: #fff;
    background: #09908a;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    width: 200px;
    padding: 7px 10px;
    border-radius: 10px;
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
}

.toolTip:hover:before,
.toolTip:hover:after{
    opacity: 1;
    z-index: 100;
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
}

.toolTip:hover:after{ transition: all .65s cubic-bezier(.84,-0.18,.31,1.26); }

.toolTip.top:before,
.toolTip.top:after{
    transform: translateX(-50%) translateY(-60%) rotate(45deg) scale(0.6);
    position: absolute;
    left: 50%;
    bottom: 100%;
}

.toolTip.top:after{ transform: translateX(-50%) translateY(20%) rotate(0) scale(0.6); }

.toolTip.top:hover:before{ transform: translateX(-50%) translateY(-35%) rotate(45deg) scale(1); }

.toolTip.top:hover:after{ transform: translateX(-50%) translateY(-20%) rotate(0) scale(1); }





/*-tooltip and-----------------*/
 .card-custome .card-style {
    display: block;
    background-color: #f8fdf9;
    width: 100%;
    margin: 20px 0px;
    box-shadow: 1px 1px 8px #999;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
 
.card-custome .media:first-child {
    margin-top: 0;
}
 
.card-custome .media-left, .card-custome .media-right, .card-custome .media-body {
    display: table-cell;
    vertical-align: top;
}
.card-custome .media-left, .card-custome .media>.pull-left {
    padding-right: 30px;
}
.card-custome .card-img {
    height: 100px;
    width: 100px;
}
 .card-custome .img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
 .card-custome .media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
 
 
 
 .custome .language .btn.btn-link.dropdown-toggle, .custome .currency .btn.btn-link{ border:transparent;}
 
 .customtab .tab a {
    display:inline-block !important;
    text-align: center;
}
 .customtab .tab a.selected, .tab a:hover {
    color: #ffffff;
    background-color: #46a546;
    border-radius: 4px;
}
.tab a {
    padding: 6px 28px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;
    color: #727883;
}
p .copan-add{
    position: absolute;
    top: 2px;
    width: 20px;
    height: 20px;
    line-height: 10px;
    background: #3ab54a!important;
    border-radius: 50%;
    color: #fff;
    margin-left: 0;
    right: 8px;
    color: #fff !important;
    line-height: 20px;
    text-align: center;	
}
  .fixed {
    position: fixed;
	display:none;
}
 
 .nav-tabs>li>a {
   
    padding: 10px 8px !important;
   
}
 .header-top {
    background: #3ab54abf;
    background-image: linear-gradient(90deg, rgba(22, 89, 42, 0.88) 0%, rgb(8, 177, 53) 35%, rgb(14, 105, 123) 100%);
}
 .productblock-title.vender{
	font-size: 24px;
    clear: both;
    margin: 38px 0 57px;
    display: inline-block;
    width: 100%;
    padding: 0;
    color: #13c426;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
}
.serviceBox-2{
    color: #666;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    border: 1px solid #f1f0f0;
    padding: 10px;
    margin-bottom:25px;
}

.serviceBox-2 .service-icon{
    color: #eb3b5a;
    background: #fff;
    font-size: 60px;
    line-height: 110px;
    width: 106px;
    height: 103px;
    margin: 0 auto 50px;
    border-radius: 50%;
    border: 12px solid #eb3b5a;
    box-shadow: 0 0 5px rgba(0,0,0,0.3) inset,0 15px 0 rgba(0,0,0,0.1);
    position: relative;
}
.serviceBox-2 .service-icon img{border-radius:50%;}
.serviceBox-2 .service-icon:before,
.serviceBox-2 .service-icon:after{
    content: '';
    background-color: #eb3b5a;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: -33px;
}

.serviceBox-2 .service-icon:after{
    height: 12px;
    width: 12px;
    bottom: -50px;
}

.serviceBox-2 .title{
    color: #eb3b5a;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 7px;
}

.serviceBox-2 .description{
    font-size: 15px;
    line-height: 22px;
}

.serviceBox-2.orange .service-icon{
    color: #FA8231;
    border-color: #FA8231;
}
.serviceBox-2.orange .service-icon:before,
.serviceBox-2.orange .service-icon:after{
    background-color: #FA8231;
}
.serviceBox-2.orange .title{ color: #FA8231; }

.serviceBox-2.green .service-icon{
    color: #20BF6B;
    border-color: #20BF6B;
}
.serviceBox-2.green .service-icon:before,
.serviceBox.green .service-icon:after{
    background-color: #20BF6B;
}
.serviceBox-2.green .title{ color: #20BF6B; }

.serviceBox-2.blue .service-icon{
    color: #2D98DA;
    border-color: #2D98DA;
}
.serviceBox-2.blue .service-icon:before,
.serviceBox-2.blue .service-icon:after{
    background-color: #2D98DA;
}
.serviceBox-2.blue .title{ color: #2D98DA; }

@media only screen and (max-width: 990px){
	 .menu-content>a:first-child {
    padding: 10px 5px 15px 15px;
}
.menu-content>a:last-child {
    padding: 10px 15px 15px 5px;
}
.menu-content>a {
    display: inline-block !important;
	font-size:12px !important;
}
.menu-content>a>span {
    background: #dedede;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.menu-content>a>span>span:first-child {
    width: 40px;
    padding: 7px 7px 7px 14px;
}
.menu-content>a>span>span:first-child {
    width: 40px;
    padding: 7px 7px 7px 14px;
}
	.serviceBox-2 .title {
    color: #eb3b5a;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 7px;
}
	.serviceBox-2 .description {
    font-size: 11px;
    line-height: 22px;
}
    .serviceBox-2{ margin: 0 0 30px; }
}
.checkbox{
    width: 142px;
    height: 31px;
    margin: -13px 2px 15px 0px;
}

.checkbox input[type=checkbox]{
    margin: 0;
    visibility: hidden;
    left: 7px;
    top: 7px;
}

.checkbox label{
    height: 100%;
    border-radius: 4px;
    display: block;
    perspective: 100px;
    position: relative;
    z-index: 1;
    /* font-size: 3px; */
}

.checkbox label:before,
.checkbox label:after{
    content: 'Register Account no';
    color: #fff;
    background: #ce1212;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 8px 0;
    border-radius: 4px;
    transform: rotateY(0deg);
    position: absolute;
    top: -13px;
    left: 0;
    transition: all 0.4s ease;
}

.checkbox label:after{
    content: 'Register Account yes';
    background: #588101;
    transform: rotateY(-180deg);
    left: 0;
    z-index: -1;
}

.checkbox input[type=checkbox]:checked+label:before{ transform: rotateY(180deg); }

.checkbox input[type=checkbox]:checked+label:after{
    transform: rotateY(0deg);
    z-index: 1; 
}

@media only screen and (max-width:767px){
	.button-custome-plus-product .btn.add {
   float: left;
    margin-top: 0px !important;
    margin-left: 100px;
}
    .checkbox{ margin: 0 0 20px; }
}
.button-custome-plus-product  button.btn-dark{
	height: 35px !important;
    width: 40px !important;
}
.button-custome-plus-product .btn.add {
   padding: 6px 6px;
}

.card {
    width: 27.5rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 10px;
    box-shadow: 0.5rem 0.5rem 3rem rgb(0 0 0 / 20%);
}
.card .card-img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 64%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 64%, 0 100%);
}
.profile-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -10rem;
    z-index: 9999;
    border: 1rem solid #ebeef8;
}
.card h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
}
.job-title {
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}
.job-title {
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}
.card .btn {
    padding: 1rem 2.5rem;
    background-color: #445ae3;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all .5s;
}
#center {
    /* padding-top: 18px; */
    padding-bottom: 30px;
}
.input-group.mb-3 {
    position: relative;
    display: table;
    border-collapse: separate;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    /* width: 50%; */
}
.input-group.mb-3.catagre{
    position: relative;
    display: table;
    border-collapse: separate;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 72%;
    margin: 0 auto;
}
.input-group.mb-3 .btn{margin-left: 0px !important; background:#3ab54a;}
.saving_box {
    right: 0!important;
    left: auto;
}






.saving_box {
 
background:#3ab54a;
 
width: 40px;
 
height: 40px;
 
border-radius: 50%;
 
font-weight: 500;
 
z-index: 0;
 
left: 5px;
 
top: 5px;
 
position: absolute;
 
color: #fff;
 
font-size: 12px;
 
line-height: 12px;
 
padding: 8px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fcfcfc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 25px;
}

.sidenav a {
    padding:9px 0px 4px 0px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding-left: 23px;
    border-bottom: 1px solid #d8d8d833;
}
.sidenav a:hover {
  color: #00cd19;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.side-menu-2{display:none;}
.side-menu-2{font-size:25px;cursor:pointer}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.mobile-footer-custom {
    display: none;
}
.tab-content.mobile{border-top:transparent;}
.only-mobile_view, .header-right.search {display:none;}
.menu {
    margin-top: 30px;
    overflow-y: scroll;
    margin-top: 30px;
    overflow: scroll;
    height: 700px;
}
@media (max-width: 1024px){
	
	.btn.add{
		padding: 6px 5px;
    font-size: 12px;
	}
	.pull-left.custome{margin-left: 34px;}
	.side-menu-2 {
    display: block;
    padding-left: 20px;
    position: fixed;
    z-index: 999;
    color: #fff;
}
.sidenav {
   
    margin-top: 40px;
}
	.header-top {
   height:44px;
    position: fixed;
    width: 100%;
    z-index: 999;
}
	.only-mobile_view, .header-right.search {display:block; margin-top: 60px;}
	#menu {
    width: 100%;
    display: block;
    text-align: center;
    background: #f8f8f8;
    border-radius: 0;
    float: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 0px;
    position: fixed;
    z-index: 99;
    top: 0;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 1%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.mobile-footer-custom {
    border-top: 1px solid #d4d4d4;
}
div#mobile-footer-custom li span {
    display: block;
    color: #000;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 0 0 0;
}
li.home-mobile-content .icon-home {
    font-size: 23px !important;
    padding: 0 !important;
}
.mobile-footer-custom ul li {
    line-height: 11px;
    text-align: center;
   
}
.input-group-btn.custome-button{
	    
    display: inline !important;
    	}
div#mobile-footer-custom li span {
    display: block;
    color: #6c6c6c;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 0 0 0;
}
div#mobile-footer-custom li span.fa {
   font-size:20px
}
div#mobile-footer-custom li span:hover {
 
    color: #3ab54a;
  
   
}

li.home-mobile-content span .fa{
	font-size:15px !important;
}
div#mobile-footer-custom li {
    position: relative;
	display: inline-block;
}
dt.icon-basket_icon {
    font-size: 25px;
    color: #000;
}

}
@media (max-width: 979px){
	.tab-content {
    border-top: transparent;
}
	.input-group.mb-3{
	position: relative;
	display: table;
	border-collapse: separate;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: stretch;
	align-items: stretch;
	/* width: 50%; */
}
.input-group.mb-3.catagre{
    position: relative;
    display: table;
    border-collapse: separate;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
     width: 65%;
    margin: unset;
}
.input-group.mb-3 .btn {
    float: left;
    margin-left: 0px;
    padding: 7px 4px;
    background-color: #3ab54a;
}
.input-group.mb-3 .input-group .btn {
    float: left;
    margin-left: 0px;
    padding: 7px 9px;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.header-right.search .form-group {
    margin: 0px 0px;
    width: 65%;
    margin: -1px auto;
    /* z-index: 99; */
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 0;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 3.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}




	.main-timeline .timeline, .main-timeline .timeline:nth-child(even) {
    width: 100%;
    margin: 0 0 20px 0;
}
.main-timeline .timeline-content {
    color: #fff;
    padding: 7px 12px 16px 85px;
    border-radius: 30px;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-size: 12px;
    line-height: 0;
}
.main-timeline .timeline-content:before, .main-timeline .timeline-content:after {
    content: '';
    background-color: #96da9c;
    border-radius: 40px;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    background-image: linear-gradient(
90deg
, rgba(22, 89, 42, 0.88) 0%, rgb(8, 177, 53) 35%, rgb(14, 105, 123) 100%);
    right: 0;
    z-index: -1;
}
.main-timeline .timeline-year {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    transform: translateY(-50%) rotate(
-90deg
);
    position: absolute;
    top: calc(50% + 5px);
    right: -10px;
    z-index: 1;
}
.main-timeline .title {
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    /* margin: 0 0 3px; */
}
.main-timeline .description {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline-icon {
    /* font-size: 30px; */
    font-weight: 600;
    transform: translateY(-60%);
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    /* font-size: 19px; */
}
.main-timeline .timeline-content:after {
    background-color: rgba(255,255,255,0.8);
    right: 0px;
    left: 0;
    top: 0;
    bottom: 10px;
}

	#menu {
    width: 100%;
    display: block;
    text-align: center;
    background: #f8f8f8;
    border-radius: 0;
    float: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 0px;
    position: fixed;
    z-index: 99;
    top: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 1%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    display: none;
}
	.side-menu-2{display:block; padding-left: 20px;}
	footer {
    margin-top: 100px;
	display:none;
}
	.header-inner{display:none;}
	.customtab .tab a.selected, .tab a:hover {
    color: #ffffff;
    background-color: #46a546;
    border-radius: 4px;}
}
	
.navbar-header {
    position: relative;
    padding: 13px 33px;
}
}

@media (max-width: 820px){
#logo {
   display:none;
}
/*----------------------search box footer------------*/
.togglesearch{
  background: #E8E8E4;
  position: absolute;
  top: -116px;
  left: -155px;
  width: 786px;
  height: 83px;
  line-height: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-bottom: 4px solid #188504;
  display: none;
}

.togglesearch:before{
  content: "";
  position: absolute;
  bottom: -33px;
  left: 220px;
  border-left: 12px solid transparent;
  border-right: 12px solid #00000000;
  border-top: 14px solid #09ad39;
  border-bottom: 14px solid #078b1100;
}

.togglesearch input[type="text"]{
  width: 684px;
  padding: 5px 10px;
  margin-left: -5px;
  border: 1px solid #17993a;
  outline: none;
}

.togglesearch input[type="button"]{
  width: 104px;
  padding: 5px 0;
  background: #1f8d3d;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #918e8e;
  outline: none;
  cursor: pointer;
}

/*---------------------- And search box footer------------*/
}

@media (max-width: 760px){
	
	.customtab .tab a {
    display: inline-block !important;
    text-align: center;
    padding: 2px;
    font-size: 11px;
}
	.tab a {
    padding: 6px 28px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;
    color: #727883;
}
	.fixed {
    position: fixed;
	display:block;
}
.left-0 {
    left: 0;
}
.bottom-55 {
    bottom: 55px;
}
.p-0 {
    padding: 0;
}
.bg-blueButton {
    background: #1d9507;
    background-image: linear-gradient( 
90deg
 , rgba(22, 89, 42, 0.88) 0%, rgb(8, 177, 53) 35%, rgb(14, 105, 123) 100%);
}
}
.br-1 {
    border-right: 1px solid #fff;
}
.nunito-regular {
    font-family: Nunito,sans-serif;
    font-weight: 400;
}
.font-13 {
    font-size: 13px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pt-5 {
    padding-top: 15px;
}
.pr-15 {
    padding-right: 15;
}
.pl-15 {
    padding-left: 15px;
}
.block {
    display: block;
}
.text-left {
    text-align: left;
}
.whiteColor {
    color: #fff;
}
.greenColor {
    color: #f6eded;
}
.width-100-p {
    width: 100%;
}
.radius-10 {
    border-radius: 10px;
}
.bd-0 {
    border: none;
}
.gradient-green {
   background-image: -webkit-gradient(linear,left top,right top,from(#77e33c),to(#285f07));
    background-image: linear-gradient(to right,#77e33c,#285f07);
}
.text-center {
    text-align: center;
}
.blackColor {
    color: #fff;
}
.floatR {
    float: right;
}
.line-22 {
    line-height: 30px;
}
.font-22 {
    font-size: 21px;
    padding-right: 13px;
}
	.title-subline {
    margin: 10px 0px 12px;}
	#brand_carouse{margin-bottom:60px;}
	.client-title{margin: 30px 0 0px;}
li.cart-mobile-content p span {
    right: 0px;
}
.productblock-title{
	margin: 27px 0 0px;
}

@media (max-width: 479px){
.customtab .tab a {
    display:inline-block !important;
    text-align: center;
}

.customtab .tab a {
    background-image: none;
    margin: 0px;
    padding: 5px;
	font-size: 11px;
}

}
@media (min-width: 320px) and (max-width: 560px){
    .box_rrr {
    margin-bottom: 10px;
}
	.product-thumb .button-group .addtocart-btn {
    margin-top: -5px;
   
}
	.bannertext .btn {
   padding: 2px 2px;
    font-size: 7px;
    color: #3ab54a;
    font-weight: 400;
    border: 1px solid #3ab54a;
    display: inline-block;
    background: rgba(255, 255, 255, 0);
}
.panel-body.custome{
	margin-bottom:10px;
}
.bannertext > h2 {
    font-size: 9px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.bannertext > p {
    color: #000;
    font-size: 9px;
}
}
@media (min-width: 320px) and (max-width: 1024px){
    .box_rrr {
    margin-bottom: 10px;
}
	.panel-body.custome{
	margin-bottom:100px;
}
	.panel-heading h4 {
     color: #ffffff;
    background-color: #d9edf7;
    border-color: #bce8f1;
    background-image: linear-gradient( 
90deg
 , rgba(22, 89, 42, 0.88) 0%, rgb(8, 177, 53) 35%, rgb(14, 105, 123) 100%);
    margin: 0;
    padding: 11px;
    font-weight: 500;
    font-size: 13px;
}
	.breadcrumb {
    padding: 70px 0 !important;
    margin: 0 0 20px !important;
   
}
	.button-custome-plus{
	  width: 91%;
       padding: 0px 0px 0px 0px;

}
.button-custome-plus .btn.add{float:none; margin-top: 10px !important; padding: 10px 11px;}
.button-custome-plus .input-group.catagre{ 
    width: 58% !important;
    float: none;
}

	.container.mobileview-off{display:none;}
	.buttons.custome{display:none;}
	.only_mobile-view{display:block;}
	#top-links li .fa {
    font-size: 12px;
    margin: 0 2px 0 0;
}
	.panel-info {
    border: 1px solid #bce8f1;
	margin-bottom: 25px
}
.panel-info .panel-body {
    padding: 0px 14px;
}
.panel-body .link-panal{
	padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #f0f0f0;
}
 .panel-body .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    float: right;
    margin-top: 9px
	;
}
.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #d9edf7;
    border-color: #bce8f1;
    background-image: linear-gradient(
90deg
, rgba(22, 89, 42, 0.88) 0%, rgb(8, 177, 53) 35%, rgb(14, 105, 123) 100%);
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-heading span {
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clickable .glyphicon {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.pull-right {
    float: right!important;
}
	.only_mobile-view{margin-top:70px;}
	.mainbanner{ margin-top: 44px;}
.mobile-footer-custom {
    display: block;
    position: fixed;
    background: #fff;
    bottom: 0;
    width: 100%;
    z-index: 99;
}
.mobile-footer-custom ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    padding: 8px 0;
}
div#mobile-footer-custom li {
    position: relative;
}
.mobile-footer-custom ul li {
    line-height: 11px;
    text-align: center;
    width: 20%;
}
.cart-mobile-content p {
    margin: 0;
}
.cart-mobile-content span {
    position: absolute;
    top: 2px;
    background: #49a247;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    color: #fff;
    margin-left: 12px;
}
.cart-mobile-content span {
    background: #6e9f2a!important;
}
}
.radio-button{
   width: 25px;
    height: 25px;
    position: relative;
    margin-top: 11px;
    margin-bottom: 18px;
   
}
.radio-button label{
    background-color: #fff;
    height: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 50%;
    box-shadow: inset 1px 2px 7px 2px rgba(0, 0, 0, 0.2);
    display: block;
    cursor: pointer;
    transition: all 0.4s ease;
}
.radio-button input[type=radio]{
    margin: auto;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.radio-button input[type=radio]:checked+label{
    background: linear-gradient(90deg, #2ef721, #0c6782);
    border-width: 6px;
    box-shadow: 4px 4px 4px 0px rgba(51, 51, 51, 0.4);
}
@media only screen and (max-width:840px){
    .box_rrr {
    margin-bottom: 10px;
}
    .radio-button{ margin: 0 0 20px; }
	/*----------------------search box footer------------*/
.togglesearch{
  background: #E8E8E4;
  position: absolute;
  top: -116px;
  left: -155px;
  width: 786px;
  height: 83px;
  line-height: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-bottom: 4px solid #188504;
  display: none;
}

.togglesearch:before{
  content: "";
  position: absolute;
  bottom: -33px;
  left: 220px;
  border-left: 12px solid transparent;
  border-right: 12px solid #00000000;
  border-top: 14px solid #09ad39;
  border-bottom: 14px solid #078b1100;
}

.togglesearch input[type="text"]{
  width: 684px;
  padding: 5px 10px;
  margin-left: -5px;
  border: 1px solid #17993a;
  outline: none;
  font-size: 14px;
    color: #333;
}

.togglesearch input[type="button"]{
  width: 104px;
  padding: 5px 0;
  background: #1f8d3d;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #918e8e;
  outline: none;
  cursor: pointer;
}

/*---------------------- And search box footer------------*/
}

@media only screen and (max-width:768px){
    .box_rrr {
    margin-bottom: 10px;
}
    .radio-button{ margin: 0 0 20px; }
	/*----------------------search box footer------------*/
.togglesearch{
  background: #E8E8E4;
  position: absolute;
  top: -116px;
  left: -132px;
  width: 600px;
  height: 83px;
  line-height: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-bottom: 4px solid #188504;
  display: none;
}

.togglesearch:before{
  content: "";
  position: absolute;
  bottom: -33px;
  left: 202px;
  border-left: 12px solid transparent;
  border-right: 12px solid #00000000;
  border-top: 14px solid #09ad39;
  border-bottom: 14px solid #078b1100;
}

.togglesearch input[type="text"]{
  width: 482px;
  padding: 5px 10px;
  margin-left: -5px;
  border: 1px solid #17993a;
  outline: none;
}

.togglesearch input[type="button"]{
  width: 104px;
  padding: 5px 0;
  background: #1f8d3d;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #918e8e;
  outline: none;
  cursor: pointer;
}

/*---------------------- And search box footer------------*/
}
@media only screen and (max-width:640px){
    .box_rrr {
    margin-bottom: 10px;
}
	.togglesearch {
    background: #E8E8E4;
    position: absolute;
    top: -116px;
    left: -114px;
    width: 600px;
    height: 83px;
    line-height: 60px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-bottom: 4px solid #188504;
    display: none;
}
.togglesearch input[type="text"] {
    width: 397px;
    padding: 10px 10px;
    margin-left: -5px;
    border: 1px solid #17993a;
    outline: none;
}
.togglesearch input[type="button"] {
    width: 77px;
    padding: 5px 0;
    background: #1f8d3d;
    color: #fff;
    margin-left: -6px;
    border: 1px solid #918e8e;
    outline: none;
    cursor: pointer;
}
.togglesearch:before {
    content: "";
    position: absolute;
    bottom: -33px;
    left: 153px;
    border-left: 12px solid transparent;
    border-right: 12px solid #00000000;
    border-top: 14px solid #09ad39;
    border-bottom: 14px solid #078b1100;
}
}
@media only screen and (max-width: 540px){
    .box_rrr {
    margin-bottom: 10px;
}
.togglesearch {
    background: #E8E8E4;
    position: absolute;
    top: -116px;
    left: -101px;
    width: 518px;
    height: 83px;
    line-height: 60px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-bottom: 4px solid #188504;
    display: none;
}}
@media only screen and (max-width: 520px){
 .items{
    margin-bottom: 70px;
}
    .box_rrr {
    margin-bottom: 10px;
}
.togglesearch {
    background: #E8E8E4;
    position: absolute;
    top: -97px;
    left: -98px;
    width: 432px;
    height: 61px;
    line-height: 60px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-bottom: 4px solid #188504;
    display: none;
}
.togglesearch:before {
    content: "";
    position: absolute;
    bottom: -33px;
    left: 131px;
    border-left: 12px solid transparent;
    border-right: 12px solid #00000000;
    border-top: 14px solid #09ad39;
    border-bottom: 14px solid #078b1100;
}
.togglesearch input[type="text"] {
    width: 341px;
    padding: 5px 10px;
    margin-left: 2px;
    border: 1px solid #17993a;
    outline: none;
    line-height: 35px;
}
.togglesearch input[type="button"] {
    width: 77px;
    padding: 5px 0;
    background: #1f8d3d;
    color: #fff;
    margin-left: -6px;
    border: 1px solid #918e8e;
    outline: none;
    cursor: pointer;
    line-height: 35px;
}
}
@media only screen and (max-width: 440px){
.items{
    margin-bottom: 70px;
}
.togglesearch {
    background: #E8E8E4;
    position: absolute;
    top: -97px;
    left: -54px;
    width: 369px;
    height: 61px;
    line-height: 60px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-bottom: 4px solid #188504;
    display: none;
}
.togglesearch:before {
    content: "";
    position: absolute;
    bottom: -33px;
    left: 73px;
    border-left: 12px solid transparent;
    border-right: 12px solid #00000000;
    border-top: 14px solid #09ad39;
    border-bottom: 14px solid #078b1100;
}
.togglesearch input[type="text"] {
    width: 226px;
    padding: 4px 10px;
    margin-left: 2px;
    border: 1px solid #17993a;
    outline: none;
    line-height: 35px;
}
}
@media only screen and (max-width: 420px){
    .button-custome-plus {
    width: 66%;
    
}
}
@media only screen and (max-width: 380px){
    .items{
    margin-bottom: 70px;
}
.togglesearch {
    background: #E8E8E4;
    position: absolute;
    top: -86px;
    left: -54px;
    width: 320px;
    height: 61px;
    line-height: 60px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-bottom: 4px solid #188504;
    display: none;
}
}
@media only screen and (max-width: 320px){
	.togglesearch {
    background: #E8E8E4;
    position: absolute;
    top: -86px;
    left: -54px;
    width: 280px;
    height: 61px;
    line-height: 60px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-bottom: 4px solid #188504;
    display: none;
}
.togglesearch input[type="text"] {
    width:164px;
    padding: 5px 10px;
    margin-left: 2px;
    border: 1px solid #17993a;
    outline: none;
    line-height: 25px;
}
.togglesearch input[type="button"] {
    width: 77px;
    padding: 5px 0;
    background: #1f8d3d;
    color: #fff;
    margin-left: -6px;
    border: 1px solid #918e8e;
    outline: none;
    cursor: pointer;
    line-height: 25px;
}
}

@media (min-width: 1200px){
.col-lg-offset-3 {
    margin-left: 35%;
}
    .box_rrr {
    margin-bottom: 10px;
}

.items{
    margin-bottom: 70px;
}
    
}